#auth {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 5fr 5rem;
    grid-template-areas:
        "signin . signup"
        "social social social";
}

#auth #signin {
    grid-area: signin;
}

#auth #signup {
    grid-area: signup;
}

#auth #social {
    grid-area: social;
}
